.character-details {
  &__description {
    text-align: justify;

    em {
      font-style: italic;
    }
  }

  &__detail-url {
    float: left;
    margin-top: 20px;
  }

  &__icon-link {
    margin: 0 3px -3px 0;
  }
}