.item-details {
  &__to-back {
    padding: 0 25px;
  }

  &__img {
    float: left;
    margin-left: 10px;
  }
}

@media (max-width: 992px) {
  .item-details__img {
    float: none;
    margin: 0 0 25px;
  }
}

@media (max-width: 768px) {
  .item-details__to-back {
    margin-top: 68px;
  }
}
