/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
// Fim do CSS Reset

.items {
  &__img-wrapper {
    overflow: hidden;
    max-height: 480px;
  }

  &__img-banner {
    width: 100%;
  }

  &__col {
    margin-bottom: 50px;
  }

  &__actions-bar {
    margin-bottom: 10px;
    justify-content: space-between;
    display: flex;
  }

  &__search-form {
    margin-bottom: 10px;

    input {
      height: 35px;
      width: 350px;
      border: 1px solid #ccc;
      padding: 0 48px 0 15px;
      border-radius: 4px;
    }

    button {
      height: 35px;
      background-color: #ef4f21;
      color: #fff;
      border: none;
      border-radius: 4px;
      padding: 0 18px;
      transition: 0.3s;

      &:hover {
        -webkit-box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }
    }
  }

  &__search-form--is-mobile {
    @extend .items__search-form;

    margin-bottom: 20px;
    width: 100%;

    input {
      height: 45px;
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      width: 70%;
    }

    button {
      height: 45px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      width: 30%;
    }
  }

  &__search-icon {
    position: relative;
    right: 35px;
    font-size: 20px;
    top: 4px;
    color: #bbb;
  }

  &__search-icon--is-mobile {
    color: rgb(187, 187, 187);
    position: absolute;
    right: 35%;
    font-size: 25px;
    top: 10px;
  }

  &__close-icon {
    @extend .items__search-icon;

    cursor: pointer;
  }
}

.btn {
  height: 35px;
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 0 18px;
  transition: 0.3s;

  &:hover {
    -webkit-box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 18px -6px rgba(0, 0, 0, 0.75);
  }

  &:disabled {
    background-color: #ddd;
    opacity: 0.5;
    cursor: not-allowed;
  }
}

@media (max-width: 578px) {
  .items__actions-bar .btn {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .header__nav {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;
  }

  .header__nav__dextra-link {
    display: none;
  }

  .header__nav ul {
    margin-left: 0;
  }

  .header__nav li {
    padding: 10px;
  }

  .header__img-banner {
    margin-top: 68px;
  }
}

.items__filter-first-letter {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  select {
    height: 35px;
    width: 100px;
    border: 1px solid #ccc;
    padding: 0 15px;
    border-radius: 4px;
    background-color: #fff;
    margin-left: 5px;
  }

  .btn-clear {
    margin: -3px 0 0 15px;
  }
}

.items__selected-first-letter {
  color: #ef4f21 !important;
  font-weight: 900;
}

.items__filter-first-letter__results {
  font-style: italic;
}

@media (max-width: 992px) {
  .items__actions-bar {
    display: block;
  }

  .items__actions-bar .btn {
    height: 45px;
    width: 100%;
  }
}

@media (min-width: 992px) {
  .items__actions-bar .btn {
    margin-left: -10px;
  }
}

@media (max-width: 768px) {
  .items__filter-first-letter {
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }

  .items__filter-first-letter__results {
    text-align: center;
    margin: 30px 0;
  }
}
