.header {
  background-color: #202020;

  &__nav {
    background-color: #202020;
    display: flex;
    padding: 12px 15px;

    ul {
      display: flex;
      align-items: center;
      margin-left: 75px;

      li {
        display: inline;
        padding: 0 20px;

        a {
          text-transform: uppercase;
          color: #fff;
          text-decoration: none;
          font-weight: 900;
          font-size: 14px;
          opacity: 0.8;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }

  &__marvel-link {
    display: flex;
    align-items: center;
    margin: 0 15px;

    img {
      height: 42px;
    }
  }

  &__dextra-link {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;

    img {
      height: 42px;
    }
  }
}

// Sobrescreve classes para ajustar barra superior para resoluções de tela com largura até 768px
@media (max-width: 768px) {
  .header__nav {
    justify-content: space-between;
    position: fixed;
    width: 100%;
    z-index: 1;

    ul {
      margin-left: 0;
    }

    li {
      padding: 10px;
    }
  }

  .header__dextra-link {
    display: none;
  }
}
