.comic {
    width: 220px;
    float: left;
    margin: 10px;
    object-fit: cover;
    text-align: left;
    -webkit-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 18px -6px rgba(0,0,0,0.75);
    cursor: pointer;
    
    .comic__details {
        padding: 10px;
        width: 100%;
    }

    .comic__details__name {
        font-weight: 900;
    }

    .comic__details__footer {
        text-align: right;
        width: 190px;
        margin-top: 10px;
    }
}

.comic:hover {
    -webkit-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.75) !important;
    -moz-box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.75) !important;
    box-shadow: 0px 0px 25px -6px rgba(0,0,0,0.75) !important;
}

.comic img {
    width: 220px;
    height: 335px;
    object-fit: cover;
    border-bottom: 1px solid #f0f0f0;
}